#container {
    position: absolute;
    width: 1200px;
    height: 800px;
    border: 2px solid #000;
}

#world {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
    font-family: Arial, Arial, Helvetica, sans-serif;
}
#square {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #badb34;
    transform: translate(900px, 400px);
}

