#container {
    position: absolute;
    width: 1200px;
    height: 800px;
    border: 2px solid #000;
    perspective: 600px;
}

#world {
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
}

#square {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    transform: translate3d(500px, 300px, 0px);
}